    <section id="breadcrumb-wrapper" class="">
        <div class="breadcrumb-overlay">

        </div>
        <div class="breadcrumb-small text-left">
            <a href="/" class="a"><i class="fa fa-home" aria-hidden="true"></i> Trang chủ / Giỏ hàng của bạn - 3H STORE - Thương hiệu quần áo nam may sẵn hàng đầu Việt Nam</a>
        </div>
        <div class="breadcrumb-content text-center">
            <div class="breadcrumb-big">

                <div class="title-banner-cart">
                    Giỏ hàng của bạn - 3H STORE - Thương hiệu quần áo may sẵn hàng đầu Việt Nam
                </div>
            </div>
        </div>
    </section>
    <!-- main cart -->
    <div id="PageContainer" class="">
        <main class=" main-content" role="main">
            <div id="page-wrapper">
                <div class="wrapper">
                    <div class="inner">
                        <h2>Giỏ hàng</h2>
                        <form action="/cart" method="post" novalidate="" class="cart table-wrap small--hide">
                            <table class="cart-table full table--responsive">
                                <thead class="cart__row cart__header-labels">
                                    <tr>
                                        <th colspan="2" class="text-center">Thông tin chi tiết sản phẩm</th>
                                        <th class="text-center">Đơn giá</th>
                                        <th class="text-center">Số lượng</th>
                                        <th class="text-right">Tổng giá</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cart__row table__section">
                                        <td data-label="Sản phẩm">
                                            <a href="/products/ao-vest-xanh-ke-av283" class="cart__image">


                                                <img src="//product.hstatic.net/1000333436/product/_ntt6180_7c43b2ff80b44214ace7fa140a3536a6_medium.jpg" alt="Áo vest Xanh kẻ - AV283">
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/products/ao-vest-xanh-ke-av283" class="h4">
									Áo vest Xanh kẻ - AV283
								</a>
                                            <br>
                                            <small>48</small>
                                            <a href="/cart/change?line=1&amp;quantity=0" class="cart__remove">
                                                <small>Xóa</small>
                                            </a>
                                        </td>
                                        <td data-label="Đơn giá">
                                            <span class="h3">
									2,950,000₫
								</span>
                                        </td>
                                        <td data-label="Số lượng">
                                            <div class="js-qty">
                                                <button type="button" class="js-qty__adjust js-qty__adjust--minus icon-fallback-text" data-id="" data-qty="0">
        <span class="icon icon-minus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">−</span>
        <span class="visually-hidden">Giảm số lượng sản phẩm đi 1</span>
      </button>
                                                <input type="text" class="js-qty__num" value="1" min="1" data-id="" aria-label="quantity" pattern="[0-9]*" name="updates[]" id="updates_">
                                                <button type="button" class="js-qty__adjust js-qty__adjust--plus icon-fallback-text" data-id="" data-qty="11">
        <span class="icon icon-plus" aria-hidden="true"></span>
        <span class="fallback-text" aria-hidden="true">+</span>
        <span class="visually-hidden">Tăng số lượng sản phẩm lên 1</span>
      </button>
                                            </div>
                                        </td>
                                        <td data-label="Tổng giá" class="text-right">
                                            <span class="h3">
									2,950,000₫
								</span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="grid cart__row">
                                <div class="grid__item two-thirds small--one-whole">
                                    <label for="CartSpecialInstructions">Chú thích cho chủ cửa hàng</label>
                                    <textarea name="note" class="input-full" id="CartSpecialInstructions"></textarea>
                                </div>
                                <div class="grid__item text-right one-third small--one-whole">
                                    <p>
                                        <span class="cart__subtotal-title">Tổng tiền</span>
                                        <span class="h3 cart__subtotal">2,950,000₫</span>
                                    </p>
                                    <p><em>Vận chuyển</em></p>
                                    <button type="submit" name="update" class="btn update-cart">Cập nhật</button>
                                    <button type="submit" name="checkout" class="btn">Thanh toán</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>

    </div>