<section id="breadcrumb-wrapper" class="">
        <div class="breadcrumb-overlay">

        </div>
        <div class="breadcrumb-small text-left">
            <a href="/" class="a"><i class="fa fa-home" aria-hidden="true"></i> Danh sách sản phẩm - 3H STORE - Thương hiệu quần áo nam may sẵn hàng đầu Việt Nam</a>
        </div>
        <div class="breadcrumb-content text-center">
            <div class="breadcrumb-big">

                <div class="title-banner-cart">
                    3H STORE - Thương hiệu quần áo may sẵn hàng đầu Việt Nam
                </div>
            </div>
        </div>
    </section>
    <!-- Features -->
    <div id="features" class="cards-1">
        <div class="container">
            <div class="wrapper">
                <div class="row">
                    <div class="col">
                        <a href=""><img src="/images/Suit3.webp"></a>
                    </div>
                    <div class="col">
                        <div class="product-page-ticky">
                            <h1 itemprop="name">Áo vest kẻ ghi sáng - AV285</h1>
                            <p class="line-price">

                                <div class="product-info grid">

                                    <div class="grid__item one-whole text-left">
                                        <span id="ProductPrice" class="ProductPrice" itemprop="price" content="2950000">Giá: 2,950,000₫</span><br><br>

                                        <div class="ProductCategory">
                                            <div class="pro-type">
                                                <span class="categoty">Loại: VEST ADAM</span>
                                            </div>
                                        </div>
                                        <div class="product-desc text-left">
                                            <br>Màu sắc: Trắng kem sọc xám<br>Chất liệu: 80% Cotton - 20% Poly<br>Kiểu dệt: Twill<br><br>Size: 48 - 50 - 52 - 54 - 56<br><br>Miêu tả chi tiết:<br>Kiểu dáng: Anh Quốc hai khuy, ve notch, sang trọng cách tân
                                            dựa trên tỷ lệ hình thể người đàn ông Việt Nam giúp bộ đồ trông sang trọng nhưng vẫn giữ được sự trẻ trung và hạn chế khuyết điểm.<br>Cấu trúc: Full canvas - giúp tôn hình thể người đàn ông.<br>Kiểu dệt Twill
                                            là cách dệt sử dụng lần lượt 2 sợi vải ngang nằm dưới và sau đó là nằm trên 2 sợi vải dọc tạo nên một bề mặt các đường vân chéo đặc biệt. Loại vải vân chéo này dày và mềm mại, có khả năng chống nhăn khá tốt
                                            và dễ dàng là ủi.<br>Sơ mi phù hợp: Đen, trắng, xám<br><br>Suit với hoạ tiết kẻ caro là một trong những bộ Suit thông dụng của người đàn ông được sử dụng với nhiều mục đích và hoàn cảnh khác nhau. Bộ Suit AV285
                                            với ve notch còn tạo hiệu ứng thị giác trong mắt người đối diện giúp tôn chiều cao và còn tạo nên hình ảnh quyền lực khi bạn muốn gây ảnh hưởng đối với mọi người.<br><br>Chất liệu vải được sử dụng 80% cotton
                                            và 20% poly, sợi vải giày giúp bộ Suit thoáng mát, thấm hút tốt và vẫn giữ phom, hạn chế nhăn nhàu.
                                        </div>
                                    </div>
                                </div>
                                <div id="product-single-details">
                                    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">
                                        <select name="id" id="productSelect" class="product-single__variants hide" style="display: none;">
                                            <option selected="selected" data-sku="AV28548" value="1082781923">48 - 2,950,000 VND</option>
                                            <option data-sku="AV28550" value="1082781924">50 - 2,950,000 VND</option>
                                            <option data-sku="AV28552" value="1082781931">52 - 2,950,000 VND</option>
                                            <option data-sku="AV28554" value="1082781932">54 - 2,950,000 VND</option>
                                            <option data-sku="AV28556" value="1082781942">56 - 2,950,000 VND</option>
                                            </select>
                                        <div id="product-select-watch" class="select-swatch text-left">
                                            <div id="variant-swatch-0" class="swatch swatch-product-single clearfix" data-option="option1" data-option-index="0">
                                                <div style="margin: 20px">SIZE: </div>
                                                <div class="select-swap">
                                                    <div data-value="48" class="n-sd swatch-element 48 ">
                                                        <input class="variant-0 input-product" id="swatch-0-48" type="radio" name="option1" value="48" checked="">
                                                        <label for="swatch-0-48" class="sd">
                                                            48
                                                            <img class="crossed-out" src="//theme.hstatic.net/1000333436/1000835503/14/soldout.png?v=218">
                                                            <img class="img-check" src="//theme.hstatic.net/1000333436/1000835503/14/select-pro.png?v=218">
                                                        </label>
                                                    </div>
                                                    <div data-value="50" class="n-sd swatch-element 50 ">
                                                        <input class="variant-0 input-product" id="swatch-0-50" type="radio" name="option1" value="50">
                                                        <label for="swatch-0-50">
            50
            <img class="crossed-out" src="//theme.hstatic.net/1000333436/1000835503/14/soldout.png?v=218">
            <img class="img-check" src="//theme.hstatic.net/1000333436/1000835503/14/select-pro.png?v=218">
           </label>
                                                    </div>
                                                    <div data-value="52" class="n-sd swatch-element 52 ">
                                                        <input class="variant-0 input-product" id="swatch-0-52" type="radio" name="option1" value="52">

                                                        <label for="swatch-0-52">
            52
            <img class="crossed-out" src="//theme.hstatic.net/1000333436/1000835503/14/soldout.png?v=218">
            <img class="img-check" src="//theme.hstatic.net/1000333436/1000835503/14/select-pro.png?v=218">
           </label>
                                                    </div>
                                                    <div data-value="54" class="n-sd swatch-element 54 ">
                                                        <input class="variant-0 input-product" id="swatch-0-54" type="radio" name="option1" value="54">

                                                        <label for="swatch-0-54">
            54
            <img class="crossed-out" src="//theme.hstatic.net/1000333436/1000835503/14/soldout.png?v=218">
            <img class="img-check" src="//theme.hstatic.net/1000333436/1000835503/14/select-pro.png?v=218">
           </label>
                                                    </div>
                                                    <div data-value="56" class="n-sd swatch-element 56 ">
                                                        <input class="variant-0 input-product" id="swatch-0-56" type="radio" name="option1" value="56">

                                                        <label for="swatch-0-56">
            56
            <img class="crossed-out" src="//theme.hstatic.net/1000333436/1000835503/14/soldout.png?v=218">
            <img class="img-check" src="//theme.hstatic.net/1000333436/1000835503/14/select-pro.png?v=218">
           </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="qty-addcart clearfix">
                                            <p for="Quantity" class="quantity-selector">Số lượng</p>
                                            <div class="js-qty">
                                                <button type="button" class="js-qty__adjust js-qty__adjust--minus icon-fallback-text" data-id="" data-qty="0">
                <span class="icon icon-minus" aria-hidden="true"></span>
                <span class="fallback-text" aria-hidden="true">−</span>
                <span class="visually-hidden">Giảm số lượng sản phẩm đi 1</span>
              </button>
                                                <input type="text" class="js-qty__num" value="1" min="1" data-id="" aria-label="quantity" pattern="[0-9]*" name="quantity" id="Quantity">
                                                <button type="button" class="js-qty__adjust js-qty__adjust--plus icon-fallback-text" data-id="" data-qty="11">
                <span class="icon icon-plus" aria-hidden="true"></span>
                <span class="fallback-text" aria-hidden="true">+</span>
                <span class="visually-hidden">Tăng số lượng sản phẩm lên 1</span>
              </button>
                                            </div>
                                        </div>
                                        <div class="product-actions">
                                            <div class="grid mg-left-5">
                                                <div class="grid__item pd-left-5 large--one-third medium--one-third small--one-whole ">
                                                    <button type="submit" name="add" id="AddToCart" class="btnAddToCart"><span>Thêm vào giỏ </span>Giao hàng tận nơi toàn quốc</button>
                                                </div>

                                                <div class="grid__item pd-left-5 large--one-third medium--one-third small--one-whole hide hidden" id="combo-wrap">

                                                    <a href="javascript:;" id="combogiare" class=" booking_btn text-center">
                                                        <span>Mua combo ưu đãi</span>
                                                    </a>
                                                </div>
                                                <div class="grid__item pd-left-5 large--one-third medium--one-third small--one-whole ">
                                                    <button type="button" name="buy" id="buy-now" class="btnBuyNow"><span>Mua ngay</span>Thêm nhiều ưu đãi hấp dẫn</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div id="booking" style="display: none;width:100%;max-width:660px;    max-height: 80vh;">
                                        <iframe class="lazyload-iframe" data-video="https://docs.google.com/forms/d/e/1FAIpQLSfx5Gy_wxOV50ET9v0w7XyRbzOc6Bvzjyx-rod2QjnhrxiAXQ/viewform?embedded=true" width="640" height="994" frameborder="0" marginheight="0" marginwidth="0" src="https://docs.google.com/forms/d/e/1FAIpQLSfx5Gy_wxOV50ET9v0w7XyRbzOc6Bvzjyx-rod2QjnhrxiAXQ/viewform?embedded=true">Đang tải...</iframe>
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- size bảo hành -->
    <div id="features" class="cards-1">
        <div class="container">
            <div class="wrapper">
                <div class="row">
                    <div class="col">
                        <h6 style="text-align:center">THÔNG SỐ</h6>
                        <img width="750" height="490" src="//theme.hstatic.net/1000333436/1000835503/14/vendor_value_4.jpg?v=218" padding-bottom="30px">
                    </div>
                    <div class="col text-left">
                        <h6 style="text-align:center">CHÍNH SÁCH ĐỔI TRẢ</h6>
                        <ul>
                            <div style="font-weight: 900; margin-bottom: 10px">I. Quý khách mua hàng tại hệ thống 3H STORE</div>
                            <li>Quý khách hàng được đổi hàng khi sản phẩm trong tình trạng còn mới, còn nguyên tem tác, chưa qua sử dụng, giặt ủi và có mùi lạ</li>
                            <l>Khi đổi hàng Quý khách hàng phải mang theo hóa đơn đính kèm sản phẩm cần đổi</l>
                            <li>Hàng đã được đổi 01 lần, Quý khách vui lòng không đổi lại trừ trường hợp lỗi kỹ thuật</li>
                            <li>Chính sách áp dụng cho cả mua hàng trực tiếp và Online</li>
                        </ul>
                        <ul>
                            <div style="font-weight: 900; margin-bottom: 10px">II. Danh mục sản phẩm không đổi trả</div>
                            <li>Các sản phẩm đặt may đo hoặc theo yêu cầu riêng.</li>
                            <l>Sản phẩm đặt hàng/sửa hàng theo số đo của khách</l>
                            <li>Sản phẩm nằm trong chương trình khuyến mại, Sale</li>
                            <li>Sản phẩm được thiết kế theo yêu cầu của khách hàng</li>
                        </ul>
                        <ul>
                            <div style="font-weight: 900; margin-bottom: 10px">III. Thời gian đổi trả</div>
                            <li>Khách hàng mua hàng trực tiếp tại showroom của Adam Store được đổi sản phẩm trong ba ngày kể từ ngày mua</li>
                            <li>Khách hàng mua hàng online sẽ được đổi sản phẩm trong vòng 3-4 ngày kể từ ngày nhận hàng</li>
                            <li>Đối với hàng Sale, hàng nằm trong chương trình khuyến mại: Không áp dụng đổi trả</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end size bảo hành -->

    <!-- category -->
    <div id="features" class="cards-1">
        <div class="container" style="margin-bottom: 20px;">
            <div class="row ">
                <div class="col-lg-12 ">
                    <h4 class="h2-heading ">SẢN PHẨM LIÊN QUAN</h4>
                </div>
            </div>
            <div class="wrapper ">
                <div class="row ">
                    <div class="col ">
                        <a href=" "><img src="/images/Suit1.webp "></a>
                        <div class="product-title">áo như cc</div>
                        <div class="product-price">2,950,000₫</div>
                    </div>
                    <div class="col ">
                        <a href=" "><img src="/images/Suit2.webp "></a>
                        <p class="product-title">áo như cc</p>
                        <p class="product-price">2,950,000₫</p>
                    </div>
                    <div class="col ">
                        <a href=" "><img src="/images/Suit3.webp "></a>
                        <p class="product-title">áo như cc</p>
                        <p class="product-price">2,950,000₫</p>
                    </div>
                    <div class="col ">
                        <a href=" "><img src="/images/Suit4.webp "></a>
                        <p class="product-title">áo như cc</p>
                        <p class="product-price">2,950,000₫</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end category -->